<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
    <div class="container text-center text-md-start mt-2">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>RJ Solutions
          </h6>
          <p>we deal with latest development and other stuffs using multiple techs and tools.</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Pages
          </h6>
          <p>
            <a routerLink='/admin/home' class="text-reset">Home</a>
          </p>
          <p>
            <a routerLink='/admin/about' class="text-reset">About</a>
          </p>
          <p>
            <a routerLink='/admin/services' class="text-reset">Services</a>
          </p>
          <p>
            <a routerLink='/admin/contact' class="text-reset">Contact</a>
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Karachi, Pakistan</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            chanderparkash179@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 92 344 050 6677</p>
          <p><i class="fas fa-print me-3"></i> + 92 334 293 2748</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" target="_blank" href="https://chanderparkash-portfolio.web.app">Chander Parkash</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->